In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import squarify
from scipy.stats import norm
import plotly.express as px
import plotly.figure_factory as ff

In [6]:
df = pd.read_csv('sat.trn', header=None)
df_test = pd.read_csv('sat.tst', header=None)

In [29]:
print(df.iloc[-1].to_numpy())

['71 91 100 81 76 95 108 88 80 95 104 85 75 95 100 79 71 91 100 83 71 95 104 87 70 100 104 85 70 91 104 85 63 91 100 81 4']

In [10]:
df_test.describe()

                                                        0
count                                                2000
unique                                               2000
top     46 32 135 142 46 32 130 142 46 32 124 139 44 3...
freq                                                    1